<mat-card>
  <h1>Child Form</h1>
  <form [formGroup]="minorChildForm">
    <mat-form-field>
      <input
        matInput
        formControlName="firstName"
        placeholder="First Name"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="lastName"
        placeholder="Last Name"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="parentGuardianName"
        placeholder="Parent/Guardian Name"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date of Birth</mat-label>
      <input
        matInput
        readonly
        formControlName="birthDate"
        [matDatepicker]="picker"
        required
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Otras preguntas específicas para menores de edad aquí -->

    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onSubmit()"
    >
      Submit
    </button>
    <mat-card *ngIf="dangerMessage" class="danger-message">
      Incomplete form, complete the forms in red
    </mat-card>
    <mat-card *ngIf="validMessage" class="valid-message">
      Submitted form data
    </mat-card>
  </form>
</mat-card>
