@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

.lasdf {
  color: #f2222f;
  color: #eaeaea;
  color: #ff5571;
  color: #343a40;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

/*HEADER*/

img {
  width: 100%;
}
header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: #343434;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header__left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header__left .header__logo {
  width: 40px;
}
header .header__left nav {
  margin-left: 50px;
}
header .header__left nav ul {
  display: flex;
}
nav ul li a {
  display: block;
  color: #cfd9e0;
  font-size: 18px;
  transition: 0.2s;
  text-align: center;
}
nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.header__list__login {
  font-weight: bold;
  color: red !important;
}
.header__list__SignUp {
  font-weight: bold;
  color: #515e6a !important;
}

header .header__right {
  display: flex;
  align-items: center;
}

header .header__right__hamburger {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}
header .header__right__hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #fff;
}
@media only screen and (max-width: 1000px) {
  header .header__right__hamburger {
    display: block;
  }
  header .header__left nav {
    margin: 0;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #151414;
    transition: 0.3s;
    text-align: center;
  }
  header .header__left nav.active {
    top: 70px;
  }
  header .header__left nav ul {
    display: block;
  }
}
